<!DOCTYPE html>
<!--[if IE 7]> <html lang="en" class="ie7"> <![endif]-->  
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<head>
    <title>IIPS | Placement Cell</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" href="favicon-16.png" sizes="16x16">
    <link rel="icon" href="favicon-32.png" sizes="32x32">
    <link rel="icon" href="favicon-48.png" sizes="48x48">
    <link rel="icon" href="favicon-64.png" sizes="64x64">
    <link rel="icon" href="favicon-128.png" sizes="128x128">
    <!-- CSS Global Compulsory-->
    <link rel="stylesheet" href="pagebootstrap.min.css">
    <link rel="stylesheet" href="pagestyle.css">
    <link rel="stylesheet" href="header1.css">
    <link rel="stylesheet" href="bootstrap-responsive.min.css">
    <link rel="stylesheet" href="style_responsive.css">
    <link rel="shortcut icon" href="favicon.ico">        
    <!-- CSS Implementing Plugins -->    
    <link rel="stylesheet" href="font-awesome.css">
    <link rel="stylesheet" href="flexslider.css" type="text/css" media="screen">      
    <link rel="stylesheet" href="parallax-slider.css" type="text/css">
    <!-- CSS Theme -->    
    <link rel="stylesheet" href="default.css" id="style_color">
    <link rel="stylesheet" href="/default.css" id="style_color-header-1">    
</head> 
<body>
  
<br>
<br>
<br>
<br>

 
                                    
       




<!--=== Content Part ===-->
  <div class="row-fluid margin-bottom-10">
    <div class="message-page">
      <div class="headline"><h3>Placement Policy</h3></div>

     
        <ol>
            <li>IIPS PLacement Cell follows a strict <strong>"One Student, One Job Policy"</strong>. Once a student is offered a job, he/she is out of the placement process</li>
        <li>On completion of the recruitment procedure, the company needs to submit the final list of offers in a closed envelope to the placement office. The offers will be opened at the end of the slot* when all companies finish their process</li>
        <li>No "On the Spot" offers should be made nor can any cue be given to any of the candidates during the placement interview.</li>
        <li>In case a candidate receives multiple offers, the candidate has to make a choice at the end of the slot. The companies will be intimated about the final choice of the candidate two hours after the end of the slot, or receipt of the offers, whichever is later.</li>
        <li>Since there is a <strong> high probability of multiple offers, we strongly recommend the companies to furnish a waiting list to the placement cell along with the final offers</strong>. In case a student who is extended multiple offers chooses the other company, the first candidate in the waiting list moves up in the final offer list. The waitlist will not be disclosed to the students and will be released on a per student basis</li>
    <li>Companies are advised to be in touch with the Placement volunteers and staff at all times. They should not entertain any direct contact from the students appearing in the placement process. In case of such a situation, the company must bring this immediately to the notice of the Placement Cell</li></ol>
    <br />

        * <em>The slot allotted for the selection procedure by the placement office to the company is of 8 - 12 hrs. Although the companies are allowed to conduct tests on the previous day to shortlist the candidates</em>
      
    
                
    </div>
  </div><!--/row-fluid-->
<!--=== End Content Part ===-->

<br>
<br>







<!-- JS Global Compulsory -->     
<script type="text/javascript" src="jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="modernizr.custom.js"></script>    
<script type="text/javascript" src="pagebootstrap.min.js"></script> 
<!-- JS Implementing Plugins -->           
<script type="text/javascript" src="jquery.flexslider-min.js"></script>
<script type="text/javascript" src="modernizr.js"></script>
<script type="text/javascript" src="jquery.cslider.js"></script> 
<script type="text/javascript" src="back-to-top.js"></script>

<script src="http://d3js.org/d3.v3.min.js"></script>
<!-- JS Page Level -->           
<script type="text/javascript" src="app.js"></script>
<script type="text/javascript" src="index.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
        App.initSliders();
        Index.initParallaxSlider();
    });
</script>
<!--[if lt IE 9]>
    <script src="assets/js/respond.js"></script>
<![endif]-->

<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script type="text/javascript" src="gmap.js"></script>
<script type="text/javascript" src="app.js"></script>
<script type="text/javascript" src="contact.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
        App.initSliders();                
        Contact.initMap();        
    });
</script>


</body>
</html> 
          
