<!DOCTYPE html>
<!--[if IE 7]> <html lang="en" class="ie7"> <![endif]-->  
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<head>
    <title>IIPS | Placement Cell</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" href="favicon-16.png" sizes="16x16">
    <link rel="icon" href="favicon-32.png" sizes="32x32">
    <link rel="icon" href="favicon-48.png" sizes="48x48">
    <link rel="icon" href="favicon-64.png" sizes="64x64">
    <link rel="icon" href="favicon-128.png" sizes="128x128">
    <!-- CSS Global Compulsory-->
    <link rel="stylesheet" href="pagebootstrap.min.css">
    <link rel="stylesheet" href="pagestyle.css">
    <link rel="stylesheet" href="header1.css">
    <link rel="stylesheet" href="bootstrap-responsive.min.css">
    <link rel="stylesheet" href="style_responsive.css">
    <link rel="shortcut icon" href="favicon.ico">        
    <!-- CSS Implementing Plugins -->    
    <link rel="stylesheet" href="font-awesome.css">
    <link rel="stylesheet" href="flexslider.css" type="text/css" media="screen">      
    <link rel="stylesheet" href="parallax-slider.css" type="text/css">
    <!-- CSS Theme -->    
    <link rel="stylesheet" href="default.css" id="style_color">
    <link rel="stylesheet" href="/default.css" id="style_color-header-1">    
</head> 
<body>
  
<br>
<br>
<br>
<br>

 
                                    
       




<!--=== Content Part ===-->
  <div class="row-fluid margin-bottom-10">
    <div class="message-page">
      <div class="headline"><h3>Procedure</h3></div>

     <ol>
      <li>Invitations of the onset of the Placements with the tentative itinerary of the placement process along with the Placement brochure are sent to the company</li>
      <li>Pre-Placement Talks (PPTs) are scheduled for companies to interact with the students based upon mutual agreement on travelling dates.</li>
      <li>Meanwhile, students can access the company profile and prepare themselves for the PPT</li>
      <li>After the PPT, students submit their resumes according to the deadline set by the companies</li>
      <li>Companies are informed about their slots for the placement season which starts probably from mid August.</li>
      <li>Slotting is done subject to following parameters</li>
      <ul>
        <li>Student Preferences</li>
        <li>Work profile</li>
		<li>Job Location</li>
        <li>Compensation package</li>
        <li>Career Prospects</li>
        <li>Student Intake</li>
      </ul>
      <li>Any pre-requisite of online/offline tests are conducted</li>
      <li>Based upon student profiles and/or test performances,  short-list of students is provided either before the commencement of placement session or at the time of placement session</li>
      <li>Shortlisted candidates then appear for the Placement Process of the company</li>
      <li>Company submits a list of finally selected students at the end of the process on the same day.</li>
      <li>A student may get multiple offers at the end of a day, in such a case he/she is allowed to choose between one of them.</li>
      <li>A student <strong>must</strong> make a decision within two hours of the end of the day.</li>
      <li>Once a student has been offered a job, he/she is out of the placement process. This is in compliance with our One Student, One Job Policy</li>
      <li>The complete process is governed by IIPS Placement Cell policy which is shared with the companies at the start of the process.</li>
    </ol>
   
     
                
    </div>
  </div><!--/row-fluid-->
<!--=== End Content Part ===-->
<br>
<br>








<!-- JS Global Compulsory -->     
<script type="text/javascript" src="jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="modernizr.custom.js"></script>    
<script type="text/javascript" src="pagebootstrap.min.js"></script> 
<!-- JS Implementing Plugins -->           
<script type="text/javascript" src="jquery.flexslider-min.js"></script>
<script type="text/javascript" src="modernizr.js"></script>
<script type="text/javascript" src="jquery.cslider.js"></script> 
<script type="text/javascript" src="back-to-top.js"></script>

<script src="http://d3js.org/d3.v3.min.js"></script>
<!-- JS Page Level -->           
<script type="text/javascript" src="app.js"></script>
<script type="text/javascript" src="index.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
        App.initSliders();
        Index.initParallaxSlider();
    });
</script>
<!--[if lt IE 9]>
    <script src="assets/js/respond.js"></script>
<![endif]-->

<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script type="text/javascript" src="gmap.js"></script>
<script type="text/javascript" src="app.js"></script>
<script type="text/javascript" src="contact.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
        App.initSliders();                
        Contact.initMap();        
    });
</script>


</body>
</html> 
